* {
    margin: 0;
    padding: 0;
}
main {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

section {
    text-align: center;
}

img {
    width: 90%;
    height: 300px;
}